
@model Author
@{
        <h1>Add Author</h1>

    @using(Html.BeginForm("AddAuthor","Author",FormMethod.Post))
    {
            <div class="form-group">
                @Html.LabelFor(val => val.AuthorName)
                @Html.TextBoxFor(val => val.AuthorName)
            </div>

            <input type="submit" value="Save" class="btn btn-secondary"></input>
    }

    @if(TempData["Message"]!=null)
    {
        <script>
            alert("@TempData["Message"]");
        </script>
    }
}
