
@{
    <table class=" table table-hover">
    <tr>
        <th>Author ID</th>
        <th>Author Name</th>
    </tr>
        @foreach (Author author in ViewBag.Authors)
        {
            <tr>
                <td>@author.AuthorId</td>
                <td>@author.AuthorName</td>
            </tr>
        }
  

    </table>
}
