
<h1>Main Page</h1>
@{
        @Html.ActionLink("Add Author", "AddAuthor", "Author",new{}, new { @class = "btn btn-primary btn-block button" })
   
        @Html.ActionLink("Add Book", "AddBook", "Book",new{}, new { @class = "btn btn-primary btn-block button" })
}

