
<h1>Main Page</h1><br>
@{
        @Html.ActionLink("Add Author", "AddAuthor", "Author",new{}, new { @class = "btn btn-primary btn-block button" })
        <br>
        <br>
        @Html.ActionLink("Add Book", "AddBook", "Book",new{}, new { @class = "btn btn-primary btn-block button" })
        <br>
        <br>
        @Html.ActionLink("List of Authors", "GetAllAuthors", "Author", new { }, new { @class = "btn btn-primary btn-block button" })
        <br>
        <br>
        @Html.ActionLink("Lis Of Books", "GetAllBooks", "Book", new { }, new { @class = "btn btn-primary btn-block button" })

}

